<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VetTail - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <script src="~/js/theme.js" defer asp-append-version="true"></script>
</head>

<body class="scrollbar-none h-dvh w-dvw overflow-hidden overflow-y-scroll bg-background">
    <nav class="justtify-center flex h-16 items-center gap-8 bg-white px-8 py-4">
        <h1 class="font-black text-2xl text-primary">VetTail</h1>

        <section class="flex-1 flex items-center justify-center gap-4 text-base">
            <a href="#" class="relative origin-center px-2 py-2 before:transition-all before:duration-150 before:ease-in before:absolute before:inset-0 before:border-b-2 before:border-b-primary before:origin-center before:scale-x-0 hover:before:scale-x-100">About Us</a>
            <a href="#" class="relative origin-center px-2 py-2 before:transition-all before:duration-150 before:ease-in before:absolute before:inset-0 before:border-b-2 before:border-b-primary before:origin-center before:scale-x-0 hover:before:scale-x-100">Features</a>
            <a href="#" class="relative origin-center px-2 py-2 before:transition-all before:duration-150 before:ease-in before:absolute before:inset-0 before:border-b-2 before:border-b-primary before:origin-center before:scale-x-0 hover:before:scale-x-100">Support</a>
            <a href="#" class="relative origin-center px-2 py-2 before:transition-all before:duration-150 before:ease-in before:absolute before:inset-0 before:border-b-2 before:border-b-primary before:origin-center before:scale-x-0 hover:before:scale-x-100">Blog</a>
        </section>

        <section role="group" class="flex items-center justify-center gap-2">
            @if (User.Identity?.IsAuthenticated is true)
            {
                <a href="#" class="border-2 rounded-lg border-border bg-primary px-3 py-2 text-primary-content">Dashboard</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login" class="border-2 rounded-lg border-border bg-primary px-5 py-2 text-primary-content">Login</a>
            }
        </section>
    </nav>
    <main class="">
        @RenderBody()
    </main>

    <footer class="bg-white py-6">

    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
