@{
    ViewData["Title"] = "VetTail";
}

<div class="h-[calc(100dvh-64px)] relative w-dvw overflow-hidden bg-gradient-to-b from-white to-background to-30% px-32 py-16">
     <div class="z-0 -translate-x-1/4 -translate-y-1/2 absolute left-0 top-0">
        <div class="animate-spin2 border-4 rounded-full border-dotted border-secondary p-32 md:p-32"></div>
    </div>
    <div class="z-0 absolute bottom-0 right-0 translate-x-1/2 translate-y-1/2">
        <div class="animate-spin2 border-4 rounded-full border-dotted border-secondary p-32 md:p-32"></div>
    </div>

    <section class="mx-auto flex h-full w-full items-center justify-center gap-32">
        <aside class="flex-1 items-left flex h-full max-w-lg flex-col justify-center gap-4 px-3 py-2 text-center">
            <article class="flex flex-col gap-2 text-left">
                <h1 class="font-black bg-gradient-to-r from-primary to-primary-light bg-clip-text text-6xl text-transparent">
                    Simplify Your Veterinary Practice
                </h1>
                <p class="text-lg font-medium text-copy-light">
                    Experience how VetTail revolutionizes clinic management, making patient care more efficient and organized.
                </p>
            </article>

            <a asp-controller="Auth" asp-action="SignUp" class="w-fit rounded-xl bg-primary-light px-5 py-3 text-primary-content shadow-md">Get Started</a>
        </aside>
        <img src="~/dshbrd-vet.svg" class="h-full select-none"/>
    </section>
</div>

<div class="h-dvh">
    sas
</div>