@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    @apply scrollbar-none;
}

@layer components {
    *::-webkit-scrollbar {
        width: 7px !important;
    }

    *::-webkit-scrollbar-track {
        background: transparent !important;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 5px !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin2 {
    animation: spin 100s linear infinite;
}

.dotted-bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(#b275aa 1.6px, transparent 1.6px);
    background-size: 40px 40px;
}

.aurora{
    animation: aurora ease-in-out 15s alternate-reverse infinite;
}

@keyframes aurora{
    0% {
        filter: hue-rotate(0deg)
    }


    100% {
        filter: hue-rotate(360deg)
    }
}